html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D32F2F;
    font-family: 'Calibri', sans-serif !important;
}

.Card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 93vw;
}

.Card-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    width: 450px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.result-container{
    display: flex;
    width: 100%;
}

.card {
    background: linear-gradient(-45deg, #e4d8d4, #d493ac, #8acce4, #83d0be);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}