.card {
    height: 100px;
    width: 100%;
  }

  .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.modal-header{
    justify-content: center;
  }

  
  .modal-header .btn-close{
    position: absolute;
    right: 1rem;
  }

  .modal-footer{
    justify-content: center;
  }