<div class="my-5 d-flex justify-content-center">
  <ng-container *ngIf="cards$ | async as cards" class="my-5 d-flex justify-content-center">

    <div class="row">
      <div *ngFor="let card of cards" class="col-md-6 col-sm-6 col-xs-12">
        <div class="card text-center aspect-ratio-1x1 mb-3 btn" >
          <div class="card-body h5" 
          data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="CardToQuizDetails(card)">
            {{ card?.quizName }} 
          </div>
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{selectedCard?.quizName}} Quizz</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Instructions:</strong></p>
        <ul>
        <li>Total questions: 20</li>
        <li>Time limit: 10 minute</li>
        <li>Select one correct answer from 4 options</li>
        <li>Score: </li>
        <li>Once started, the quiz cannot be paused</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <!-- <a [routerLink]="['/quiz',selectedCard?.quizId]" class="btn btn-primary">Start Quiz</a> -->
        <button (click)="startQuiz()" class="btn btn-primary">Start Quiz</button>

      </div>
    </div>
  </div>
</div>
 <!-- Modal -->   
  </ng-container>
</div>

<!-- Button trigger modal -->

